@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:wght@200..900&display=swap');
@import './animations.css';
@import './header.css';
@import './hero-page.css';
@import './content.css';
@import './modal.css';
@import './card.css';
@import './grid.css';
@import './textarea.css';
@import './footer.css';
@import './buttons.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Zalando Sans Expanded", sans-serif;
    color: white;
}